<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Postres Decräb</name>
    <description>
        Decräb by Fisher's
    </description>
    <author email="oemilio16@gmail.com" href="http://chopmedia.mx">
        Chop Media
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="res/icon/ios/AppIcon-60x60@3x.png" width="180" />
        <icon height="60" src="res/icon/ios/AppIcon-60x60@1x.png" width="60" />
        <icon height="120" src="res/icon/ios/AppIcon-60x60@2x.png" width="120" />
        <icon height="76" src="res/icon/ios/AppIcon-76x76@1x.png" width="76" />
        <icon height="152" src="res/icon/ios/AppIcon-76x76@2x.png" width="152" />
        <icon height="40" src="res/icon/ios/AppIcon-40x40@1x.png" width="40" />
        <icon height="80" src="res/icon/ios/AppIcon-40x40@2x.png" width="80" />
        <icon height="57" src="res/icon/ios/icon-57.png" width="57" />
        <icon height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
        <icon height="29" src="res/icon/ios/AppIcon-29x29@1x.png" width="29" />
        <icon height="58" src="res/icon/ios/AppIcon-29x29@2x.png" width="58" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
